.header {
  width: 100%;
  height: 96px;
  background: #ffffff;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  z-index: 1000;
}

.center-btn {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 415px;
  height: 64px; 
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: #FC8507;
  color: white !important; 
  cursor: pointer;
}