.header {
  width: 100%;
  height: 96px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  /* justify-content: center; */
  z-index: 1000;
}

.center-btn {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 415px;
  height: 64px; 
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: #FC8507;
  color: white !important; 
  cursor: pointer;
  margin-left: 48px;
}

.func-btn {
  margin-right: 48px;
}

.nav-link-hidden {
  margin-right: 48px;
}

@media (max-width: 630px) {
  .nav-link-hidden {
    display: none !important;
  }

  .header {
    justify-content: center !important;
  }

  .center-btn {
    margin: 0 !important; /* убираем отступы слева, если были */
  }
}

@media (max-width: 925px) {
  .func-btn {
    display: none !important;
  }
}
