/* Заголовок */
.container.growth {
    width: 70%;
    padding-top: 0 !important;
}

.growth-card-header {
  display: flex;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 12px 16px;
  margin-block: 10px;
  background-color: #f7f7f7;
  font-weight: bold;
}

.growth-card-header > div,
.growth-card > div {
  flex: 1;
  text-align: left;
  padding-left: 10px;
}

/* Контейнер всех карточек */
.growth-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Карточка строки */
.growth-card {
  display: flex;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

/* Подсветка выбранной */
.growth-card-selected {
  background-color: #e7e7e7;
  border-color: #999;
}
