.growth-factor-table-search-form {
    border: 1px solid #ddd; 
    border-radius: 10px;

    display: flex; 
    flex-direction: row;  
    align-items: center;  
    justify-content: center;
    height: 62px;
}

@media (max-width: 1000px) {
    .growth-factor-table-search-form {
        width: 248px !important;
        height: 145px;
        flex-direction: column;
    }
}

.growth-factor-table-search-form Button {
    width: 24px;
    height: 24px;
    border: none;           
    background: url("/public/search-icon.png") center/24px no-repeat transparent;
}

.growth-factor-table-search-form input {
    font-size: 20px;
    /* border: none;              */
    border: 1px solid #EEEEEE; 
    width: 200px;
    outline: none;
    background: transparent; 
}

/* .inputField > input {
    width: 200px;
    margin-right: 12px;
    border: 2px solid black;
    border-radius: 4px;
    outline: none;
} */