/* body */
/* body {
margin: 0;
font-family: 'PT Sans', sans-serif;
background: #F7F7F7;

display: flex;
justify-content: center; 
} */

/* p */
p {
    margin: 0;
    font-size: 16px;
    color: #333333;
}

.growth-request-page {
    display: flex;
    align-items: center;
    justify-content: center; 
}



/* dataGrowthFactor-list */
.growth-request-list {
    margin-top: 116px;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    /* align-items: center;   */
}

.result-data-growth-factor-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    /* align-items: center;      */
    width: 1060px;
    height: 210px;
    padding: 8px 30px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex; 
}

.result {
    width: 60px !important;
    height: 34px !important;
    margin: 0 5px;
    display: flex;                
    align-items: center;         
    justify-content: center;      
    color: #FC8507
}


/* data-growth-factor-card */
/* .data-growth-factor-card {
    width: 1042px;
    height: 100px;
    padding: 39px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;             
    flex-direction: row;       
    gap: 10px; 
    position: relative; 
} */

/* .data-growth-factor-card {
  width: 228px;
  height: 115px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;         
} */

/*
.trash-img {
    width: 26px;
    height: 26px;
    position: absolute;  
    top: 39px;           
    right: 39px;        
} */

.aligned-text-ver {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aligned-text-hor {
    display: flex;
    flex-direction: row;
    align-items: center !important;
}

.aligned-text-hor p {
    margin: 0;
    line-height: 1.2; /* или 1, чтобы не было лишнего пространства */
}


.input {
    width: 85px !important;
    height: 34px !important;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    display: flex;                
    align-items: center;          
    justify-content: center;      
}

.data-growth-factor-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}



.delete-btn {
    width: 228px;
    height: 34px;
    font-size: 16px;
    font-weight: bold;
    background: #FC8507 !important;
    color: white;
    border: none !important; /* убираем рамку по умолчанию */
    border-radius: 10px;
    cursor: pointer;
}

