body {
margin: 0;
font-family: 'PT Sans', sans-serif;
background: #F7F7F7;

display: flex;
justify-content: center; 
}

/* p */


/* heder */
header {
position: fixed;  
top: 0;            
left: 0; 
width: 100%;
height: 96px;
display: flex;
align-items: center;
justify-content: center;
background: #ffffff;
}


.center-btn {
display: flex;                
align-items: center;          
justify-content: center;     
width: 415px;
height: 64px;
text-decoration: none;
font-size: 24px;
font-weight: bold;
border: none;
border-radius: 10px;
background: #FC8507;
color: white;
cursor: pointer;
}


/* dataGrowthFactor */
.data-growth-factor {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 70px; 
}

.growth-factor-img {
    width: 500px;    
    max-width: 100%; 
    height: auto;    
    object-fit: contain; 
    display: block;  
}

.growth-factor-description {
    display: flex;               
    align-items: center;        
    justify-content: center;      
    flex-direction: column; 
    gap: 10px;
    width: 500px;
}

.ver {
    display: flex;                
    flex-direction: column; 
    margin-right: auto;
    gap: 10px;
}

.title {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}
p {
    margin: 0;
    font-size: 20px;
    color: #333333;
    text-align: left;
}

