/* body */
body {
margin: 0;
font-family: 'PT Sans', sans-serif;
background: #F7F7F7;

display: flex;
justify-content: center; 
}

/* p */
p {
    margin: 0;
    font-size: 16px;
    color: #333333;
}


/* heder */
header {
position: fixed;   
top: 0;            
left: 0; 
width: 100%;
height: 96px;
display: flex;
align-items: center;
justify-content: center;
background: #ffffff;
z-index: 1000;
}


.center-btn {
display: flex;               
align-items: center;          
justify-content: center;      
width: 415px;
height: 64px;
text-decoration: none;
font-size: 24px;
font-weight: bold;
border: none;
border-radius: 10px;
background: #FC8507;
color: white;
cursor: pointer;
}

/* dataGrowthFactor-list */
.growth-request-list {
    margin-top: 116px;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    /* align-items: center;   */
}

.result-data-growth-factor-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    /* align-items: center;      */
    width: 1060px;
    height: 210px;
    padding: 8px 30px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex; 
}

.result {
    width: 60px;
    height: 34px;
    margin: 0 5px;
    display: flex;                
    align-items: center;         
    justify-content: center;      
    color: #FC8507
}


/* data-growth-factor-card */
/* .data-growth-factor-card {
    width: 1042px;
    height: 100px;
    padding: 39px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;             
    flex-direction: row;       
    gap: 10px; 
    position: relative; 
} */

/* .data-growth-factor-card {
  width: 228px;
  height: 115px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;         
} */

.data-growth-factor-card {
    width: 1042px;
    height: 150px;
    padding: 39px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;             
    flex-direction: column;       
    position: relative; 
    justify-content: space-between; 
}


.data-growth-factor-card-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


 .data-growth-factor-card-img {
    width: 100px;
    height: 100px;          
    object-fit: cover;      
}

/*
.trash-img {
    width: 26px;
    height: 26px;
    position: absolute;  
    top: 39px;           
    right: 39px;        
} */

.aligned-text-ver {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aligned-text-hor {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
}

.input {
    width: 98px;
    height: 34px;
    margin: 0 5px;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    display: flex;                
    align-items: center;          
    justify-content: center;      
}

.data-growth-factor-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.table-field {
    width: 240px;
    height: 34px;
    margin: 0 5px;
    border: 1px solid #D8D8D8;
    display: flex;               
    align-items: center;         
    justify-content: center;      
}

.delete-btn {
    width: 228px;
    height: 34px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: #FC8507;
    color: white;
    cursor: pointer;
    /* transition: background 0.2s ease-in-out; */
}
