.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-page-title {
  color: #FC8507 !important;
}

.homepage-carousel {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 250px;       /* фиксированная высота */
  object-fit: contain;
  background-color: #f0f0f0;
  border-radius: 10px; /* красиво округляет углы */
}


@media (max-width: 767px) {
  .main-page-title {
    font-size: 24px;
  }
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.dot {
  width: 32px;
  height: 4px;
  background: #ccc;
  border-radius: 2px;
  display: inline-block;
  transition: background 0.3s, transform 0.2s;
}

.dot:hover {
  opacity: 0.7;
}
