<html lang="en">
<head>
    <title>Growth Request</title>
    <link rel="stylesheet" href="/static/styles/growthRequest_style.css">
</head>
<body>
    <header>
        <a href="/dataGrowthHome" class="center-btn">Прогноз роста объема данных</a>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    </header>

    <div class="growth-request-list">
        <div class="result-data-growth-factor-card">
            <div class="aligned-text-hor">
                <p>Прогноз роста объема данных на основе выбранных параметров:</p>
                <p class="result">1Мбайт</p>
            </div>
            <div class="aligned-text-hor">
                <p>Начало периода:</p>
                <p class="input">{{ .startPeriod}}</p>
            </div>
            <div class="aligned-text-hor">
                <p>Конец периода:</p>
                <p class="input">{{ .endPeriod }}</p>
            </div>
            <div class="aligned-text-hor">
                <p>Текущее количество данных (б):</p>
                <p class="input">{{ .growthRequest.CurData }}</p>
            </div>
            <div class="aligned-text-hor">
                <p>Выбранная таблица:</p>
                <p class="table-field">Количество пользователей</p>
            </div>
        </div>

        <!-- <div class="data-growth-factor-list"> -->
            <!-- {{ range .dataGrowthFactors }}
            <div class="data-growth-factor-card">
                <p> {{ .Title }} </p>
                <p class="input">100</p>
                <p>Коэффициент: {{ .Coeff }}</p>
            </div>
            {{ end }} -->

            <!-- {{ range $i, $factor := .dataGrowthFactors }}
                <div class="data-growth-factor-card">
                    <p>{{ $factor.Title }}</p>
                    <p class="input">{{ index $.factorNums $i }}</p>
                    <p>Коэффициент: {{ $factor.Coeff }}</p>
                </div>
            {{ end }} -->
        <!-- </div> -->

        {{ range $i, $factor := .dataGrowthFactors }}
        <div class="data-growth-factor-card">
            <div class="aligned-text-hor">
                <p>{{ $factor.Attribute }}:</p> <p class="input">{{ index $.factorNums $i }}</p>
            </div>

            <div class="data-growth-factor-card-field">
                <img class="data-growth-factor-card-img" src="{{ $factor.Image }}" alt="Изображние">
                <p>Коэффициент: {{ $factor.Coeff }}</p>
            </div>
        </div>
        {{ end }}
        
        <form class="delete-form" action="/delete-growthRequest" method="POST">
            <button type="submit" class="delete-btn">Удалить прогноз</button>
        </form>
    </div>
</body>
</html>

